// SASS variables
// Colors
$primary-color: #fafaf9;
$secondary-color: #be6741;
$complementary-color: #4198be;
$primary-100: #f5f5f4;
$primary-200: #e7e5e4;
$primary-300: #d6d3d1;
$primary-400: #a8a29e;
$primary-500: #78716c;
$primary-600: #57534e;
$primary-700: #44403c;
$primary-800: #292524;
$primary-900: #1c1917;

// Opacity
$primary-600-opacity: #57534e75;
$primary-700-opacity: #44403c75;
//Transitions & Shadows
$transition-1: all 400ms ease-in-out;
$box-shadow-small: 1px 4px 15px rgba(0, 0, 0, 0.32);
$box-shadow-large: 10px 10px 19px 5px rgba(0, 0, 0, 0.75);
$base-gradient: linear-gradient(135deg, #0000008a, #0000008a);
$border-small: 20px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  // Background
  background-image: $base-gradient, url("/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: $primary-100;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  transition: $transition-1;
  letter-spacing: 0.15em;
  overflow-y: scroll;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

main {
  // backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  color: inherit;
  margin: 0 40px 0 0;
  line-height: 70px;
  font-size: 2.5em;
  display: none;
  width: 26px;
  float: right;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  color: inherit;
}

p {
  font-size: 1.5em;
  font-style: italic;
  color: inherit;
  margin: 0;
}

footer {
  display: none;
  position: fixed;
  background: $secondary-color;
  color: inherit;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 70px;
  line-height: 3;
  border-top: 1px solid $primary-100;
}

.blur-filter {
  backdrop-filter: blur(5px);
}

.section {
  transform: translateY(-100%) scale(0);
  transition: $transition-1;
  max-width: 100vw;
  height: fit-content;
  min-height: 80vh;
  color: inherit;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 5em 10em;
  background-color: $primary-900;
  border-radius: $border-small;
  box-shadow: $box-shadow-large;
}

.section1 {
  display: none;
  transform: translateY(0) scale(1);
  .tech-stack {
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    padding: 30px;
    img {
      height: 150px;
      width: 150px;
    }
  }
}

.section2 {
  display: none;
  transform: translateY(0) scale(1);
}

.section3 {
  display: none;
  transform: translateY(0) scale(1);
  .project-tile {
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
    div {
      margin: 20px;
    }
    img {
      height: auto;
      width: 40vmin;
      box-shadow: $box-shadow-small;
      &:hover {
        cursor: default;
        transform: translateY(-5px);
        transition: all 300ms ease-in-out;
        border: 1px solid $secondary-color;
        box-shadow: $box-shadow-large;
      }
    }
  }
}

.section4 {
  display: none;
  transform: translateY(0) scale(1);
  .fa {
    font-size: 1.5 em;
  }
  .contact-links {
    color: inherit;
    display: flex;
    margin: 8em;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    a {
      text-decoration: none;
      color: $primary-100;
      font-size: 2em;
      text-shadow: 2px 2px 1px rgb(0, 0, 0);
      transition: font-size 300ms ease-out;
      padding: 10px;
    }
    & a:hover {
      font-size: 2.2em;
    }
  }
}

.section5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
  @keyframes scaleAnim {
    0% {
      transform: translateY(-100%) scaleY(0);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
  }
}

.project-resume {
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  color: inherit;
  margin: 0;
}

.project-techs {
  font-size: 1em;
}

// Controls
.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  .active-btn {
    background-color: $secondary-color !important;
    transition: $transition-1;
    font-size: 1.2rem;
  }
  .control {
    padding: 1rem;
    cursor: pointer;
    background-color: $primary-500;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0;
    box-shadow: $box-shadow-small;
    i {
      font-size: 1.2rem;
      color: $primary-color;
      pointer-events: none;
    }
  }
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  .right-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    .about-item {
      border: 1px solid $primary-500;
      border-radius: 5px;
      transition: $transition-1;
      box-shadow: $box-shadow-small;
      &:hover {
        cursor: default;
        transform: translateY(-5px);
        border: 1px solid $secondary-color;
        box-shadow: $box-shadow-small;
      }
      .about-text {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        .large-text {
          font-size: 3rem;
          font-weight: 700;
          color: $secondary-color;
        }
        .small-text {
          padding-left: 3rem;
          position: relative;
          text-transform: uppercase;
          font-size: 1.2rem;
          color: $primary-400;
          letter-spacing: 2px;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 15px;
            width: 2rem;
            height: 2px;
            background-color: $primary-500;
          }
        }
      }
    }
  }
  .left-about {
    padding-right: 5rem;
    p {
      line-height: 2rem;
      padding: 1rem;
      color: $primary-100;
    }
    h4 {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
}

.about-stats {
  padding-bottom: 4rem;
  .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    .progress-bar {
      display: flex;
      flex-direction: column;
      .prog-title {
        text-transform: uppercase;
        font-weight: 500;
      }
      .progress-con {
        display: flex;
        align-items: center;
        .prog-text {
          color: $primary-200;
        }
        .progress {
          width: 100%;
          height: 0.45rem;
          background-color: $primary-400;
          margin-left: 1rem;
          position: relative;
          span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: $secondary-color;
            transition: $transition-1;
          }
          .html {
            width: 80%;
          }
          .css3 {
            width: 80%;
          }
          .javascript {
            width: 80%;
          }
          .reactjs {
            width: 50%;
          }
          .nodejs {
            width: 40%;
          }
          .python {
            width: 50%;
          }
        }
      }
    }
  }
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
  &::before {
    content: "";
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: $primary-500;
    transform: translateX(-50%);
  }
}

// Timeline
.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
  .timeline-item {
    position: relative;
    padding-left: 3rem;
    border-left: 1px solid $primary-500;
    .tl-icon {
      position: absolute;
      left: -27px;
      top: 0;
      background-color: $secondary-color;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 1.3rem;
      }
    }
    .tl-duration {
    }
  }
}

// Components
.main-title {
  text-align: center;
  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    color: $primary-100;
    span {
      color: $secondary-color;
    }
    .bg-text {
      position: absolute;
      top: 50%;
      left: 50%;
      color: $primary-700;
      transition: $transition-1;
      z-index: -1;
      transform: translate(-50%, -50%);
      font-weight: 800;
      font-size: 6.3rem;
      white-space: nowrap;
    }
  }
}

.btn-container {
  display: flex;
  align-self: flex-start;
  //align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid $secondary-color;
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
  .btn-text {
    padding: 0 2rem;
  }
  .btn-icon {
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: $transition-1;
    z-index: -1;
  }
  &:hover {
    &::before {
      width: 100%;
      height: 100%;
      background-color: $secondary-color;
      transform: translateX(0);
    }
  }
}

// Typewriter effect
.typewriter {
  overflow: hidden; // Ensures the content is not revealed until the animation
  border-right: 0.15em solid $secondary-color; // The typwriter cursor
  white-space: nowrap; // Keeps the content on a single line
  margin: 0 auto; // Gives that scrolling effect as the typing happens
  letter-spacing: 0.15em; // Adjust as needed
  // animation: typing 4s steps(80, end) 2s 1 normal both,
  animation: 4s steps(50) 2s both typing, blink-caret 1s step-end infinite;
  max-width: fit-content;
}

// The typing effect
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

// The typewriter cursor effect
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $secondary-color;
  }
}
