@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    font-family: 'Poppins', sans-serif;
    /*box-sizing: border-box;*/
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: azure;
    width: 100%;
}

body {
    position: relative;
    background-color: rgb(240, 254, 255,);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: azure;
}
  
li {
    float: left;
    /*border-right: 1px solid rgb(150, 187, 255);*/
}

/*li:last-child {
    border-right: none;
}*/
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #E1341E;
    color: white;
}

li a.active {
    background-color: rgb(146, 255, 255);
}

.headerLogo {
    width: 5vw;
}

.navbar {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    width: 50vw;
}

.pageTitle {
    text-align: center;
    width: 25vw;
    font-size: 0.8vw;
}

#header-img {
    width: 50px;
    height: 50px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1000px;
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

span {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    color: darkgrey;
    margin-right: 30px;
}

section {
    padding: 50px;
}

.pageCont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 125px;
    color: #E1341E;
}

.pageContText {
    text-align: left;
}

#form {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 20px;
    height: 25px;
}

.button {
    border: none;
    color: white;
    background-color: #E1341E;
    font-size: 1.2rem;
}

#newsletter {
    background-color: azure;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
    padding-top: 0px;
}

#video {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
    width: 560px;
    height: 315px;
}

#pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.priceplan {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    margin-left: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
    line-height: 2.5;
}

.priceplan:hover {
    border-style: double;
    border-color: #E1341E;
}

.priceplan h2 {
    text-transform: uppercase;
    background-color: #e9ba55;
    padding: 0px 20px 0px 20px;
    margin: 20px 0px 0px 0px; 
}

.priceplan li {
    float: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}


/*Media Query*/

@media screen and (max-width: 750px) {
    .navbar,
    ul {
        display: none;
        /*visibility: hidden;*/
    }

    header {
        position: relative;
        top: 0;
        padding: 0px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: azure;
        width: 100vw;
    }

    #pricing {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .priceplan {
        margin-bottom: 20px;
    }

    #video {
        width: 98vw;
    }

    .icon {
        margin-right: 20px;
    }

    .pageTitle {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        font-size: 3vmin;
    }

    section {
        padding: 50px;
    }

    .container {
        margin: 0;
    }
}