* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  /* CSS Variables */
  --transition-1: all 0.4s ease-in-out;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.2);
  --base-gradient: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.9),
    rgba(24, 7, 7, 0.8)
  );
  /* Colors */
  --primary-color: #fafaf9;
  --primary-100: #f5f5f4;
  --primary-200: #e7e5e4;
  --primary-300: #d6d3d1;
  --primary-400: #a8a29e;
  --primary-500: #78716c;
  --primary-600: #57534e;
  --primary-700: #44403c;
  --primary-800: #292524;
  --primary-900: #1c1917;
}

body {
  /* Background */
  background-image: var(--base-gradient), url("/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  transition: var(--transition-1);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

main {
  backdrop-filter: blur(4px);
}

header {
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  /* position: absolute; */
  padding: 3rem 18rem;
  border-bottom: 2px solid white;
}

/* .section {
  transform: translateY(-100%) scale(0);
  transition: var(--transition-1);
}

.section1 {
  display: none;
  transform: translateY(0) scale(1);
}

.section2 {
  display: none;
  transform: translateY(0) scale(1);
}

.section3 {
  display: none;
  transform: translateY(0) scale(1);
}

.section4 {
  display: none;
  transform: translateY(0) scale(1);
}

.section5 {
  display: none;
  transform: translateY(0) scale(1);
} */

h1 {
  font-size: 3em;
  color: inherit;
}

p {
  font-size: 1.5em;
  font-style: italic;
  color: inherit;
  margin: 0;
}

.project-resume {
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  color: inherit;
  margin: 0;
}

.project-techs {
  font-size: 1em;
}

/* #navbar {
  position: fixed;
} */

.nav {
  background-color: var(--primary-800);
  position: fixed;
  top: 0;
  left: 0;
  text-align: right;
  width: 100%;
  height: 60px;
  line-height: 1.5;
  box-shadow: 0 10px 20px rgba(59, 59, 59, 0.2);
  border-bottom: 1px solid white;
  z-index: 10;
}

.menu {
  margin: 0 30px 0 0;
}

.menu a {
  clear: right;
  text-decoration: none;
  color: inherit;
  margin: 0 30px;
  line-height: 70px;
  font-size: 1.3em;
  font-weight: 600;
  transition: font-size 500ms ease-out;
}

.menu a:hover {
  font-size: 2em;
}

label {
  color: inherit;
  margin: 0 40px 0 0;
  line-height: 70px;
  font-size: 2.5em;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

#welcome-section,
#projects,
#contacts {
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

#welcomeDiv {
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 70px;
  padding: 30px;
}

#welcomeDiv img {
  height: 200px;
  width: 200px;
}

#projectDiv {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#projectDiv div {
  margin: 10px;
}

#projectDiv img {
  height: auto;
  width: 40vmin;
}

#contactLinks {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 70px;
}

#contactLinks a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
  transition: font-size 300ms ease-out;
  padding: 10px;
}

#contactLinks a:hover {
  font-size: 2.2em;
}

footer {
  background: rgba(119, 28, 28, 0.8);
  color: inherit;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 70px;
  line-height: 70px;
  border-top: 1px solid white;
}

/* Media Querry */
@media (max-width: 750px) {
  html {
    font-size: 2.5vw;
    scroll-behavior: smooth;
  }

  footer {
    height: fit-content;
    line-height: 1.5;
  }

  label {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
    padding-top: 70px;
    background: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0.9),
      rgba(37, 2, 2, 0.8)
    );
  }

  .menu a {
    display: block;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 0;
    color: white;
  }

  #toggle:checked + .menu {
    display: block;
  }

  #welcomeDiv img {
    width: 75px;
    height: 75px;
  }

  #contactLinks {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  #projectDiv img {
    height: auto;
    width: 25vmin;
  }
}

/* Typewriter effect */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  /* animation: typing 4s steps(80, end) 2s 1 normal both, */
  animation: 4s steps(50) 2s both typing, blink-caret 1s step-end infinite;
  max-width: fit-content;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* Controls */
.controls {
  position: fixed;
  z-index: 10;
  top: 3%;
  right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--primary-500);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0.7rem;
  box-shadow: var(--box-shadow-1);
}

.controls .control i {
  font-size: 1.2rem;
  color: var(--primary-color);
  pointer-events: none;
}

.controls .active-btn {
  background-color: var(--primary-800) !important;
  transition: var(--transition-1);
  font-size: 1.2rem;
}
