.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  .active-btn {
    background-color: var(--secondary-color) !important;
    transition: var(--transition-1);
    font-size: 1.2rem;
  }
  .control {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--primary-500);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0;
    box-shadow: var(--box-shadow-small);
    i {
      font-size: 1.2rem;
      color: var(--primary-color);
      pointer-events: none;
    }
    &:hover {
      background-color: var(--secondary-color);
      transition: var(--transition-1);
      font-size: 1.2rem;
    }
  }
}

.btn-container {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--secondary-color);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
  box-shadow: var(--box-shadow-small);
  .btn-text {
    padding: 0 2rem;
  }
  .btn-icon {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: var(--transition-1);
    z-index: -1;
  }
  &:hover {
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--secondary-color);
      transform: translateX(0);
    }
  }
}

.theme-btn {
  filter: opacity(70%);
  top: 3%;
  right: 3%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--primary-400);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-small);
  transition: all 100ms ease-in-out;
  &:active {
    transform: translateY(-3px);
  }
  i {
    font-size: 1.4rem;
    color: var(--primary-200);
    pointer-events: none;
  }
}
